* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-links {

    background-color: rgb(1, 1, 97); 
}
.nav-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    width: 30%;
    margin: auto
}
.nav-links li{
    padding: 10px;
    list-style: none;
}
.nav-links a {
    color: white !important;
}
body{
    background-color: rgb(226, 223, 223);
}
h1 {
    font-size: 35px;
    text-align: center;
    color:  rgb(1, 1, 100);
}
.main-container {
display: flex;    
justify-content: center;
}
.container {
  display: flex;
}
.container .blog-list {
    padding: 20px ;
    position: fixed;
}
.container .posts {  
    padding: 20px;
}
.container .posts p {
    padding: 10px 0;
    font-size: 17px;
    line-height: 20px;
    font-family: Lora , sans-serif;
}
.container li{
    list-style: none;
}
h2{
    text-align: center;
    color: rgb(1, 1, 107);
}
.cover-img{
  text-align: center;
  justify-content: center;

}
img{
    position: relative;
    width: 80%;
    margin: 20px;
}
.post{
    border: 1 solid;
    padding: 20px;
    width: 80%;
    margin: auto;
    background-color: white;
    padding-left: 10px;
}

@media (max-width : 768px) {
    .container {
     flex-direction: column;
    }
    .container .blog-list {
        position: relative;
        width: 100%;
        text-align: center;

    }
    .post {
        width: 100%;
    }
    img {
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    .nav-links  ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li{
        text-align: center;
    }
}